.me-btn {
    padding: 5px 10px;
    font-size: 25px;
    border: 2px solid black;
    background: white;
    display: block;
    transition: 5s;
}

.btn-hover {
    cursor: pointer;
    transition: .2s
}

.me-btn:active {
    padding: 3px 6px;
    box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.btn-hover:hover {
    background: rgb(243, 243, 243);
}

.btn-danger {
    padding: 5px 10px;
    font-size: 25px;
    background: WHITE;
    color:  RED;
    border: 2px solid red;
    transition: .2s;
}

.btn-danger:hover {
    background: red;
    color: white;
}



