* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 50px;
}

.header-inner {
  background: rgb(255, 255, 255);
  border-bottom: solid 1px rgb(204, 204, 204);
}

.header {
  padding: 30px 60px;
  display: flex;
  gap: 20px;
}

.main-inner {
  background: #f6f6f6;
}

.main-conainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 100px;
}

.card-item {
  padding: 20px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.container-img {
  height: 300px;
  width: 300px;
}

.product-img {
  height: 100%;
  width: 100%;
}

.item-title {
  font-size: 40px;
  font-weight: 500;
}

.item-by-colomn {
  padding: 30px 0px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.item-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.item-rating {
  font-size: 23px;
}

.item-by-btn {
  font-size: 30px;
  padding: 10px 50px;
  color: orange;
  background: none;
  border: solid 1px orange;
  outline: none;
  transition: .2s;
  cursor: pointer;
}

.item-by-btn:hover {
  background: orange;
  color: white;
}

.item-text {
  font-size: 30px;
  font-weight: bold;
  width: 30%;
}

.reg-main {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.register-from {
  padding: 50px;
  background: rgb(250, 224, 224);
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 20px;
}

.input-form {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.btn-from {
  background: white;
  padding: 10px;
  width: 50%;
  align-self: center;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 20px;
  transition: .2s;
  cursor: pointer;
}

.btn-from:hover {
  background: rgb(249, 244, 244);
}